# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Local virtual environments
.venv/
venv/
ENV/

# Python logs
*.log

# Generated local TFLite files from local notebook runs (preventing large binaries upload)
notebooks/*.tflite
notebooks/*.txt
notebooks/*.bin
